<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px dotted red;
  border-collapse: collapse;
}
th, td {
  font-size: 12px;
  padding-top: 5px;
}
th {
    background-color: red;
    text-align: center;
    color: white;
    padding-right: 1px;
    width: 18%;
    border-right: 2px solid white;
}
td {
    text-align: left;
    width: 32%;
    padding-left: 3px;
}
#div1 {
    height:20px;
}
#div2 {
    height:20px;
}
#div3 {
    height:20px;
}
.footer {
   position: fixed;
   left: 0;
   border-top: 2px solid red;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
   font-size: 14px;
}


</style>
</head>
<body>

<div id="div1">
<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
        <tbody>
        <tr style="border-style: hidden;">
            <th style="width: 30%;  height:86px; border-right: none;"><img class="" src="../static/assets/img/pdf-logo.png" alt="Header Avatar" width="700" height="100"></th>
            <th style="width: 30%;  height:86px; border-right: none; font-size:11px; text-align: center; padding-left:2px;">INTERNATIONAL AIRWAY BILL<br />
                Tel: 88028411515  www.samiralliance.com</th>
            <th style="width: 40%;  height:86px; padding-top:0px;"><img src="{{shipment.barcode.path}}" alt="" height="160px" width="540px" /></th>




        </tr>

        </tbody>
    </table>
</div>

</br>


</div>


</div>


<table>
    <tr>
        <th>Shipper</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Type</th>
        <th>Pieces</th>
        <th>Weight</th>
        <th style="border-right: none;">Date</th>
    </tr>
    <tr>
        <td>{{shipment.shipper_account}}</td>
        <td>{{shipment.origin_country}}</td>
        <td>{{shipment.destination_country}}</td>
        <td>{{shipment.content}}</td>
        <td>{{shipment.piece}}</td>
        <td>{{shipment.weight}}</td>
        <td>{{shipment.shipment_date}}</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2">Shipper's Information</th>
        <th colspan="2" style="border-right: none;">Receiver's Information</th>
    </tr>
    <tr>
        <td colspan="2"><strong>Company: {{shipment.shipper}}</strong></td>
        <td colspan="2"><strong>Company: {{shipment.receiver}}</strong></td>
    </tr>
    <tr>
        <td colspan="2">Sender's Name: {{shipment.shipper_name}}</td>
        <td colspan="2">Recipient's Name: {{shipment.receiver_name}}</td>
    </tr>
     <tr>
        <td colspan="2">Address: {{shipment.shipper_address}}</td>
        <td colspan="2">Address: {{shipment.receiver_address}}</td>
    </tr>
    <tr>
        <td>City: {{shipment.shipper_city}}</td>
        <td>State: {{shipment.shipper_state}}</td>
        <td>City: {{shipment.receiver_city}}</td>
        <td>State: {{shipment.receiver_state}}</td>
    </tr>
    <tr>
        <td><strong>Country: {{shipment.origin_country}}</strong></td>
        <td>Zip Code: {{shipment.shipper_zip}}</td>
        <td><strong>Country: {{shipment.destination_country}}</strong></td>
        <td>Zip Code: {{shipment.receiver_zip}}</td>
    </tr>
    <tr>
        <td>Tel: {{shipment.shipper_telephone}}</td>
        <td><strong>M.P: {{shipment.shipper_mobile}}</strong></td>
        <td>Tel: {{shipment.receiver_telephone}}</td>
        <td><strong>M.P: {{shipment.receiver_mobile}}</strong></td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="2">Service Through: {{shipment.courier}}</td>
        <td colspan="2"></td>
    </tr>

</table>

<table>
    <tr>
        <td colspan="3" rowspan="2">Remarks: {{shipment.remark}}</td>
        <td>Prepaid: {{ shipment.prepaid_amount}}</td>
    </tr>
    <tr>
        <td>Collect: {{ shipment.collect_amount}}</td>
    </tr>
    <tr>
        <td>Dimension (cm): </td>
        <td>Date Time: </td>
        <td></td>
        <td>Third Party: {{ shipment.third_party_amount}}</td>
    </tr>
    <tr>
        <td>{{shipment.height}} X {{shipment.width}} X {{shipment.length}}</td>
        <td>{{shipment.shipment_date}}</td>
        <td>Customer Sign</td>
        <td>Pick Up By: {{shipment.pickup_by}}</td>
    </tr>

</table>


<!--2nd Copy-->

<p>--------------------------------------------------- &#9986;
   -------------------------------------------------- &#9986;
   -------------------------------------------------- &#9986;
   --------------------------------------------------</p>


<div id="div2">
<div class="center" style="text-align: left;">

    <table style="width: 100%; border-collapse: collapse; border-style: hidden;" border="0">
        <tbody>
        <tr style="border-style: hidden;">
            <th style="width: 30%;  height:86px; border-right: none;"><img class="" src="../static/assets/img/pdf-logo.png" alt="Header Avatar" width="700" height="100"></th>
            <th style="width: 30%;  height:86px; border-right: none; font-size:11px; text-align: center; padding-left:2px;">INTERNATIONAL AIRWAY BILL<br />
                Tel: 88028411515  www.samiralliance.com</th>
            <th style="width: 40%;  height:86px; padding-top:0px;"><img src="{{shipment.barcode.path}}" alt="" height="160px" width="540px" /></th>




        </tr>

        </tbody>
    </table>
</div>

</br>


</div>


</div>


<table>
    <tr>
        <th>Shipper</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Type</th>
        <th>Pieces</th>
        <th>Weight</th>
        <th style="border-right: none;">Date</th>
    </tr>
    <tr>
        <td>{{shipment.shipper_account}}</td>
        <td>{{shipment.origin_country}}</td>
        <td>{{shipment.destination_country}}</td>
        <td>{{shipment.content}}</td>
        <td>{{shipment.piece}}</td>
        <td>{{shipment.weight}}</td>
        <td>{{shipment.shipment_date}}</td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2">Shipper's Information</th>
        <th colspan="2" style="border-right: none;">Receiver's Information</th>
    </tr>
    <tr>
        <td colspan="2"><strong>Company: {{shipment.shipper}}</strong></td>
        <td colspan="2"><strong>Company: {{shipment.receiver}}</strong></td>
    </tr>
    <tr>
        <td colspan="2">Sender's Name: {{shipment.shipper_name}}</td>
        <td colspan="2">Recipient's Name: {{shipment.receiver_name}}</td>
    </tr>
     <tr>
        <td colspan="2">Address: {{shipment.shipper_address}}</td>
        <td colspan="2">Address: {{shipment.receiver_address}}</td>
    </tr>
    <tr>
        <td>City: {{shipment.shipper_city}}</td>
        <td>State: {{shipment.shipper_state}}</td>
        <td>City: {{shipment.receiver_city}}</td>
        <td>State: {{shipment.receiver_state}}</td>
    </tr>
    <tr>
        <td><strong>Country: {{shipment.origin_country}}</strong></td>
        <td>Zip Code: {{shipment.shipper_zip}}</td>
        <td><strong>Country: {{shipment.destination_country}}</strong></td>
        <td>Zip Code: {{shipment.receiver_zip}}</td>
    </tr>
    <tr>
        <td>Tel: {{shipment.shipper_telephone}}</td>
        <td><strong>M.P: {{shipment.shipper_mobile}}</strong></td>
        <td>Tel: {{shipment.receiver_telephone}}</td>
        <td><strong>M.P: {{shipment.receiver_mobile}}</strong></td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="2">Service Through: {{shipment.courier}}</td>
        <td colspan="2"></td>
    </tr>

</table>

<table>
    <tr>
        <td colspan="3" rowspan="2">Remarks: {{shipment.remark}}</td>
        <td>Prepaid: {{ shipment.prepaid_amount}}</td>
    </tr>
    <tr>
        <td>Collect: {{ shipment.collect_amount}}</td>
    </tr>
    <tr>
        <td>Dimension (cm): </td>
        <td>Date Time: </td>
        <td></td>
        <td>Third Party: {{ shipment.third_party_amount}}</td>
    </tr>
    <tr>
        <td>{{shipment.height}} X {{shipment.width}} X {{shipment.length}}</td>
        <td>{{shipment.shipment_date}}</td>
        <td>Customer Sign</td>
        <td>Pick Up By: {{shipment.pickup_by}}</td>
    </tr>

</table>




</body>
</html>
