{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<style>
table {
    width: 100%;}
    td,
th {
    border:  1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: left;
    padding-left: 20px;
    width:30%;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
    width: 30%;
}

td[scope="row"] {
    background-color: #d7d9f2;
}

th[scope="row"] {
    background-color: #d7d9f2;
    width:30%;
}


caption {
    padding: 10px;
    caption-side: top;
}

p {
    padding-left: 17px;
    }

table {
    border-collapse: collapse;
    border: None;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
</style>
<div class="container p-4">
    <div class="row">
        <div class="col-lg-12 col-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">

                        <div class="mb-3 col-md-1">
                            <a href="{% url 'all-shipments' %}">
                                <button class="btn btn-outline-danger" type="submit"><i class="fa fa-arrow-left"
                                                                                      aria-hidden="true"></i></button>
                            </a>
                        </div>

                        <div class="mb-3 col-md-11">
                            <center>
                                <h5>{{title}}</h5>
                            </center>
                        </div>

                        <p></p><br /><br />
                        <div>
                            <p><strong>Shipment no:</strong>  {{ shipment.shipment_no }}</p>
                            <p><strong>Shipment account:</strong> {{ shipment.shipper_account }}</p>
                            <p><strong>Ref no:</strong> {{ shipment.ref_no }}</p>
                            <p><strong>Courier:</strong> {{ shipment.courier }}</p>
                            <p><strong>Awb no:</strong> {{ shipment.awb_no }}</p>
                            <p><strong>Piece's:</strong> {{ shipment.piece }}</p>
                            <p><strong>Weight:</strong> {{ shipment.weight }}</p>
                            <p><strong>Content:</strong> {{ shipment.content }}</p>
                            <p><strong>Booking Date:</strong> {{ shipment.shipment_date }}</p>

                        </div>



                    </div>
                </div>
                <div class="widget-content widget-content-area">

                    <table>
                        <caption>Shipment Full Details</caption>
                        <tr>
                            <th scope="col">Attribute</th>
                            <th scope="col">Shipper Details</th>
                            <th scope="col">Receiver Details</th>
                        </tr>
                        <tr>
                            <th scope="row">Company</th>
                            <td>{{ shipment.shipper }}</td>
                            <td>{{ shipment.receiver }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>{{ shipment.shipper_address }}</td>
                            <td>{{ shipment.receiver_address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">City</th>
                            <td>{{ shipment.shipper_city }}</td>
                            <td>{{ shipment.receiver_city }}</td>
                        </tr>
                        <tr>
                            <th scope="row">State</th>
                            <td>{{ shipment.shipper_state }}</td>
                            <td>{{ shipment.receiver_state }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Zip code</th>
                            <td>{{ shipment.shipper_zip }}</td>
                            <td>{{ shipment.receiver_zip }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ shipment.shipper_name }}</td>
                            <td>{{ shipment.receiver_name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Telephone</th>
                            <td>{{ shipment.shipper_telephone }}</td>
                            <td>{{ shipment.receiver_telephone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Mobile</th>
                            <td>{{ shipment.shipper_mobile }}</td>
                            <td>{{ shipment.receiver_mobile }}</td>
                        </tr>
                    </table>

                </div>

                <div>

                </div>

                <div class="widget-content widget-content-area">
                    <table>
                        <caption>Charge Details. Currency: {{ shipment.currency }}</caption>
                        <tr>
                            <th scope="col">Prepaid</th>
                            <th scope="col">Collect</th>
                            <th scope="col">Third Party</th>
                        </tr>
                        <tr>
                            <td>{{ shipment.prepaid_amount }}</td>
                            <td>{{ shipment.collect_amount }}</td>
                            <td>{{ shipment.third_party_amount }}</td>
                        </tr>

                    </table>
                </div>

                <div class="widget-content widget-content-area">


                        <p><strong>Description of the goods / Remarks: </strong>{{ shipment.remark }}</p>
                        <p><strong>Dimention: </strong>{{ shipment.height }} cm <strong>X </strong>{{ shipment.width }} cm <strong>X </strong>{{ shipment.length }} cm</p>
                        <p><strong>Pick up by: </strong>{{ shipment.pickup_by }}</p>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}