{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
:root {
  --primary-color: rgb(11, 78, 179);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/* Form */
.form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

</style>


<div class="col-lg-12 p-4">
        <div class="row">
            <div class="col-lg-12 col-12 layout-spacing">

                        <form method="POST">
                            {% csrf_token %}

                        <!-- MultiStep Form -->
                            <h1 class="text-center">Shipment Update Form</h1>
                          <!-- Progress bar -->
                          <div class="progressbar">
                            <div class="progress" id="progress"></div>

                            <div
                              class="progress-step progress-step-active"
                              data-title="Shipper"
                            ></div>
                            <div class="progress-step" data-title="Receiver"></div>
                            <div class="progress-step" data-title="Content"></div>
                            <div class="progress-step" data-title="Charge"></div>
                          </div>

                          <!-- Steps -->
                          <div class="form-step form-step-active">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.status|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_account|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_address|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_city|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_state|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_zip|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_name|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_mobile|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.shipper_telephone|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.origin_country|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.destination_country|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="">
                              <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
                            </div>
                          </div>
                          <div class="form-step">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver_address|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver_city|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver_state|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver_zip|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver_name|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver_mobile|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.receiver_telephone|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.ref_no|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.courier|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.awb_no|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.content|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="btns-group">
                              <a href="#" class="btn btn-prev">Previous</a>
                              <a href="#" class="btn btn-next">Next</a>
                            </div>
                          </div>
                          <div class="form-step">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.piece|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.weight|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.remark|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.height|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.width|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.length|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.pickup_by|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.pickup_date|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="btns-group">
                              <a href="#" class="btn btn-prev">Previous</a>
                              <a href="#" class="btn btn-next">Next</a>
                            </div>
                          </div>
                          <div class="form-step">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.currency|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.prepaid_amount|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.collect_amount|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.third_party_amount|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                             <div class="row mb-3">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.cheque_no|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.account_no|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="btns-group">
                              <a href="#" class="btn btn-prev">Previous</a>
                              <input type="submit" value="Submit" class="btn" />
                            </div>
                          </div>
                        <!-- /.MultiStep Form -->
                        </form>

            </div>
        </div>

</div>


<script>

const prevBtns = document.querySelectorAll(".btn-prev");
const nextBtns = document.querySelectorAll(".btn-next");
const progress = document.getElementById("progress");
const formSteps = document.querySelectorAll(".form-step");
const progressSteps = document.querySelectorAll(".progress-step");

let formStepsNum = 0;

nextBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum++;
    updateFormSteps();
    updateProgressbar();
  });
});

prevBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum--;
    updateFormSteps();
    updateProgressbar();
  });
});

function updateFormSteps() {
  formSteps.forEach((formStep) => {
    formStep.classList.contains("form-step-active") &&
      formStep.classList.remove("form-step-active");
  });

  formSteps[formStepsNum].classList.add("form-step-active");
}

function updateProgressbar() {
  progressSteps.forEach((progressStep, idx) => {
    if (idx < formStepsNum + 1) {
      progressStep.classList.add("progress-step-active");
    } else {
      progressStep.classList.remove("progress-step-active");
    }
  });

  const progressActive = document.querySelectorAll(".progress-step-active");

  progress.style.width =
    ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
}
</script>
<script src="{% static 'assets/js/new_sales.js' %}" type="text/javascript"></script>

{% endblock content %}