{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container p-4">
    <div class="row">
        <div class="col-lg-12 col-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">

                        <div class="mb-3 col-md-1">
                            <a href="{% url 'all-shippers' %}">
                                <button class="btn btn-outline-danger" type="submit"><i class="fa fa-arrow-left"
                                                                                      aria-hidden="true"></i></button>
                            </a>
                        </div>

                        <div class="mb-3 col-md-11">
                            <center>
                                <h5>{{title}}</h5>
                            </center>
                        </div>


                    </div>
                </div>
                <div class="widget-content widget-content-area">

                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-2">

                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.shipper_company|as_crispy_field }}
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.shipper_address|as_crispy_field }}
                                </div>
                            </div>

                        </div>

                        <div class="row mb-2">

                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.city|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.state|as_crispy_field }}
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">

                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.zip|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.shipper_name|as_crispy_field }}
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">

                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.telephone|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.mobile|as_crispy_field }}
                                </div>
                            </div>

                        </div>
                        <div class="row mb-4">

                            <div class="col-6">
                                <div class="form-group">
                                    {{ form.nid|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">

                                </div>
                            </div>

                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">Update</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}